<h1>CoffeeScript Game Dev Demo</h1>

<section id="game_holder"></section>

<p class="intro">
  Adapted from <%= link_to "Seth Ladd's", 'http://twitter.com/sethladd', :target => '_blank' %> Google IO 2011 talk, <%= link_to 'Super Browser 2 Turbo HD Remix: An Introduction to HTML5 Game Development', 'http://blog.sethladd.com/2011/05/source-code-slides-and-video-for-html5.html', :target => '_blank' %> 
</p>

<script>gl = GameLauncher.launchInto(EvilAliens, Canvas.j_createCanvas().appendTo('#game_holder').get(0)); game = gl.game;</script>