body
  text-align: center

h1
  text-align: center

#game_holder
  padding: 20px
  border: 1px solid #CCC
  display: inline-block
  text-align: center
  canvas
    background-color: black
    margin: 0px auto
    display: block