<!DOCTYPE html>
<html>
<head>
  <title>MochaRails</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="games">

<%= yield %>

</body>
</html>
