<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <link rel="stylesheet" type="text/css" href="/assets/jasmine.css">

  <%= javascript_include_tag "jasmine" -%>

  <!-- // <script src="/__JASMINE_ROOT__/lib/jasmine.js" type="text/javascript"></script>  -->
  <!-- // <script src="/__JASMINE_ROOT__/lib/jasmine-html.js" type="text/javascript"></script>  -->
  <!-- // <script src="/__JASMINE_ROOT__/lib/json2.js" type="text/javascript"></script>  -->

  <script type="text/javascript">
    var jsApiReporter;
    (function() {
      var jasmineEnv = jasmine.getEnv();

      jsApiReporter = new jasmine.JsApiReporter();
      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(jsApiReporter);
      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      window.onload = function() {
        jasmineEnv.execute();
      };
    })();
  </script>

  <script src="/assets/math.js" type="text/javascript"></script>

  <!-- include spec files here... -->
  <%= javascript_include_tag 'tests' %>
</head>
<body>
<div id="jasmine_content"></div>
</body>
</html>